@import "./index.scss";

#root {
  display: flex;
  justify-content: center;
}

.player {
  position: relative;
  width: 480px;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.icon:not(.icon-play, .icon-pause) {
  transform: scale(1.3);
}
