@import "./index.scss";

#root {
  display: flex;
  justify-content: center;
}

.player {
  position: relative;
  width: 480px;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff !important;
}

.icon:not(.icon-play, .icon-pause) {
  transform: scale(1.3);
}
